* {
    color: white;
    text-align: center;
}
.titletext {
    color: white;
    font-size: 50px;
    font-family: cursive, Brush Script MT;
    margin-bottom: 0px;
    font-weight:bolder;
}
.website{
    color: cyan;
    font-size: 40px;
    font-family: cursive, Brush Script MT;
    margin-top: 0px;
}
.title{
outline-style: ridge;
outline-width: 10px;
width: 75%;
margin: auto;
margin-top: 50px;
padding: 10px;
}
html {
    background-image: url(space-tile.jpg);
}